#templatemo_header_wrapper
    #templatemo_header
        #site_logo
        #templatemo_menu
            #templatemo_menu_left
            ul
                li
                    a.current(href='/') Home
                li
                    a(href='/page1') Services
                li
                    a(href='/page2') Gallery
                li
                    a(href='/page3') Company
                li
                    a.last(href='/page4') Contact