extends layout

block content
  #templatemo_header_wrapper
    #templatemo_header
      #site_logo
      #templatemo_menu
        #templatemo_menu_left
        ul
          li
            a.current(href='#') Home
          li
            a(href='http://www.templatemo.com') Services
          li
            a(href='http://www.templatemo.com/page/2') Gallery
          li
            a(href='#') Company
          li
            a.last(href='#') Contact
  #templatemo_banner_wrapper
    #templatemo_banner
      #templatemo_banner_image
        #templatemo_banner_image_wrapper
          img(src='images/templatemo_image_01.jpg', alt='image 1')
      #templatemo_banner_content
        .header_01 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        p
          | Aliquam dignissim elementum est sit amet iaculis. Integer pretium ultricies risus, condimentum molestie odio euismod vitae.
        .button_01
          a(href='#') Read more
      .cleaner
  #templatemo_content_wrapper
    #templatemo_content
      #column_w530
        .header_02 Welcome to our WEBSITE!
        p.em_text
          | Simple Gray is a professional XHTML/CSS layout provided by
          a(href='http://www.templatemo.com', target='_parent') templatemo.com
          |  for free of charge. You can use this template for any purpose. Credit goes to
          a(href='http://www.photovaco.com', target='_blank') Free Photos
          |  for photos.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo dolor. Duis in tincidunt lorem. Nunc et tellus nisi. Nulla non velit lectus. Morbi luctus ullamcorper felis, non gravida neque congue sit amet.
        .margin_bottom_20
        ul.content_list_01
          li
            | Integer tempor, libero quis laoreet dapibus, quam mauris hendrerit urna, vel feugiat dolor lectus non velit. Fusce at nisl libero, ac fringilla risus.
          li
            | Proin non velit nec enim volutpat euismod. Phasellus lorem velit, porttitor non iaculis in, euismod a metus. Nullam orci odio, dignissim a egestas ac, sollicitudin in quam.
        .margin_bottom_20
        .content_section_01
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo dolor. Duis in tincidunt lorem. Nunc et tellus nisi. Nulla non velit lectus. Morbi luctus ullamcorper felis, non gravida neque congue sit amet. Nam nec mi metus, ac elementum velit. Etiam vel arcu velit, eget consequat risus.
        .cleaner
      #column_w300
        .header_03 Latest News
        .column_w300_section_01
          .news_image_wrapper
            img(src='images/templatemo_image_02.jpg', alt='image')
          .news_content
            .news_date OCT 29, 2048
            .header_04
              a(href='#') Lorem ipsum dolor sit
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo dolor.
          .cleaner
        .column_w300_section_01.even_color
          .news_image_wrapper
            img(src='images/templatemo_image_03.jpg', alt='image')
          .news_content
            .news_date OCT 28, 2048
            .header_04
              a(href='#') Nam dictum pellentesque
            p
              | Nam ultricies cursus enim, non aliquet orci lacinia ac. Etiam lobortis adipiscing.
          .cleaner
        .column_w300_section_01
          .news_image_wrapper
            img(src='images/templatemo_image_04.jpg', alt='image')
          .news_content
            .news_date OCT 27, 2048
            .header_04
              a(href='#') Donec faucibus tortor
            p Aliquam porttitor nibh in erat porttitor in accumsan dui pulvinar.
          .cleaner
        .cleaner
      .cleaner
  #templatemo_footer_wrapper
    #templatemo_footer
      .section_w180
        .header_05 Services
        .section_w180_content
          ul.footer_menu_list
            li
              a(href='#') Lorem ipsum dolor
            li
              a(href='#') Cum sociis
            li
              a(href='#') Donec quam
            li
              a(href='#') Nulla consequat
            li
              a(href='#') In enim justo
      .section_w180
        .header_05 About
        .section_w180_content
          ul.footer_menu_list
            li
              a(href='#') Nullam quis
            li
              a(href='#') Sed consequat
            li
              a(href='#') Cras dapibus
            li
              a(href='#') Lorem ipsum dolor
            li
              a(href='#') Cum sociis
      .section_w180
        .header_05 Cool links
        .section_w180_content
          ul.footer_menu_list
            li
              a(href='#') Aenean vulputate
            li
              a(href='#') Etiam ultricies
            li
              a(href='#') Nullam quis
            li
              a(href='#') Sed consequat
            li
              a(href='#') Cras dapibus
      .section_w180
        .header_05 Contact
        .section_w180_content
          ul.footer_menu_list
            li
              a(href='#') Donec quam
            li
              a(href='#') Nulla consequat
            li
              a(href='#') In enim justo
            li
              a(href='#') Aenean vulputate
            li
              a(href='#') Etiam ultricies
      .section_w180
        .header_05 Partners
        .section_w180_content
          ul.footer_menu_list
            li
              a(href='http://www.templatemo.com', target='_parent') CSS Templates
            li
              a(href='http://www.flashmo.com', target='_parent') Flash Websites
            li
              a(href='http://www.templatemo.com/page/2', target='_parent') Website Templates
            li
              a(href='http://www.webdesignmo.com', target='_parent') Web Design Tips
            li
              a(href='http://www.photovaco.com', target='_blank') Free Stock Photos
      .margin_bottom_20
      |  Copyright &copy; 2048
      a(href='#') Your Company Name
      |  |
      a(href='http://www.iwebsitetemplate.com', target='_parent') Website Templates
      |  by
      a(href='http://www.templatemo.com', target='_parent') Free CSS Templates
      .cleaner
  div(align='center')
    | This template downloaded form
    a(href='http://all-free-download.com/free-website-templates/') free website templates
